/* Standard for most webpages */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #34435E;
}

.grid-view {
    position: fixed;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

/* Create the header along with minimal functionality */
header {
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 20%;
    right: 20%;
    max-width: 500px;
    max-height: 500px;
    margin: auto;
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #8EF9F3;
}

.icon {
    height: 5rem;
    width: 5rem;
    margin-left: .5rem;
}

.detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


/* Utilize search container to make modern searchbar */
.search-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
    background-color: grey;
    border: 2px solid black;
    border-radius: 20px;
    gap: 1rem;
    margin-bottom: 1rem;
}

.search {
    height: 15%;
    width: 80%;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 18px;
    margin: auto;
}

#submit {
    height: fit-content;
    width: fit-content;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid black;
    background-color: lightgrey;
    font-size: 16px;
    padding: 8px;
    margin-bottom: 4px;
}

#submit:hover {
    background-color: grey;
    color: white;
}

#theme {
    margin-right: 1rem;
    font-size: 14px;
    border-radius: 18px;
    padding: 8px;
    font-weight: 500;
    background-color: #C2BBF0;
}

#theme:hover {
    background-color: #A675A1;
    color: whitesmoke;
}

.container {
    display: none;
    /* display: flex;
    justify-content: center; */
}

.weather-info {
    background-color: whitesmoke;
    height: 100%;
    width: 80%;
    border: 3px solid black;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.overview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-details {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.left {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.right {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.detail-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.detail-icon {
    height: 2rem;
    width: 2rem;
    padding-right: 1rem;
}
